<% flash.each do |type, message| %>
  <div class="alert alert-dismissible rounded <%= bootstrap_class_for(type) %>" role="alert" data-turbo-cache="false">
    <%= bootstrap_close_button_tag(dismiss: "alert") %>
    <%= message %>
  </div>
<% end %>
