<div class="card">
  <div class="card-header">Details</div>
  <div class="card-body">
    <%= render(AttributesTable::Component.new(resource: @resource)) do |c|
      c.row :project_title
      c.row :project_description
      c.row :recipient
      c.row :lead_organization
      c.row(:region) { |r| r.region&.name }
      c.row :location
      c.row :longitude
      c.row :latitude
      c.row(:categories) { |r| r.categories&.join(', ') }
      c.row :scope
      c.row :planning_area
      c.row :second_planning_area
      c.row :total_project_cost
      c.row :key_funding_amount
      c.row :key_funding_source
      c.row :funding_subtype
      c.row(:funding_call_date) { |r|  [r.funding_call_month, r.funding_call_year].compact.join('/') }
      c.row(:project_status) { |r| status_tag(r.project_status) }
      c.row :created_at
      c.row :updated_at
    end %>
  </div>
</div>
