<div class="card">
  <div class="card-header">Details</div>
  <div class="card-body">
    <%= render(AttributesTableComponent.new(resource: @resource)) do |c|
      c.row 'Name', &:to_s
      c.row :file
      c.row :uploaded_by
      c.row :uploaded_at
    end %>
  </div>
</div>
