<div class="card">
  <div class="card-header">Details</div>
  <div class="card-body">
    <%= render(AttributesTable::Component.new(resource: @resource)) do |c|
      c.row :show_on_platform
      c.row :name
      c.row :region_name
      c.row :subregion_name
      c.row :business_type_name
      c.row :business_subtype_name
      c.row :longitude
      c.row :latitude
      c.row :website_url_link
      c.row :external_company_id
      c.row :indigenous_ownership
      c.row :biosphere_program_member
      c.row :accessibility
      c.row :source
      c.row :created_at
      c.row :updated_at
    end %>
  </div>
</div>
