// Variables
@import 'theme';

@import 'components/avatar';
@import 'components/breadcrumb';
@import 'components/content';
@import 'components/footer';
@import 'components/forms';
@import 'components/hamburger';
@import 'components/list-group';
@import 'components/main';
@import 'components/navbar';
@import 'components/sidebar';
@import 'components/tables';
@import 'components/type';
@import 'components/wrapper';
@import 'components/pagination';
@import 'components/badge';
@import 'components/trix';

body,
html,
#root {
  height: 100%;
}

body {
  overflow-y: scroll;
  opacity: 1 !important;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito Sans';
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/nunito-sans-v6-latin-regular.woff2') format('woff2'),
       url('/assets/nunito-sans-v6-latin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/nunito-sans-v6-latin-700.woff2') format('woff2'),
       url('/assets/nunito-sans-v6-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.bg-blue {
  background-color: #314057;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow-x: hidden;
  }
}
