.badge {
  background-color: $primary;
}

.badge-public {
  background-color: $green;
}

.badge-private {
  background-color: $red;
}

.badge-yes {
  background-color: $green;
}

.badge-no {
  background-color: $red;
}
